/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

		default {
// -----------------------------------------------------------------------------------------
// |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
// |  ESC  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
// | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |  RET  |
// | FN    | LGUI | LALT | LCTL | LOWR |     SPACE    |  RAIS | LARW | DARW | UARW  |  RARW |
				bindings = <
				&kp 0x29 &kp 0x1E &kp 0x1F &kp 0x20 &kp 0x21 &kp 0x22 &kp 0x23 &kp 0x24 &kp 0x25 &kp 0x26 &kp 0x27 &kp 0x2D
				&kp 0x2B &kp 0x14 &kp 0x1A &kp 0x08 &kp 0x15 &kp 0x17 &kp 0x1C &kp 0x18 &kp 0x0C &kp 0x12 &kp 0x13 &kp 0x31
				&kp 0x29 &kp 0x04 &kp 0x16 &kp 0x07 &kp 0x09 &kp 0x0A &kp 0x0B &kp 0x0D &kp 0x0E &kp 0x0F &kp 0x33 &kp 0x34
				&kp 0xE1 &kp 0x1D &kp 0x1B &kp 0x06	&kp 0x19 &kp 0x05 &kp 0x11 &kp 0x10 &kp 0x36 &kp 0x37 &kp 0x52 &kp 0xE5
				&kp 0xE0 &kp 0xE3 &kp 0xE2 &kp 0x4E &kp 0x4B &kp 0x4C &kp 0x2A &kp 0x28 &kp 0x2C &kp 0x38 &kp 0x2E &kp 0x50 &kp 0x51 &kp 0x4f
			>;
		};
	};
};
